.cards__item {
    list-style: none;
    padding-top: 60px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    width: 240px;
    margin-right: 100px;
  }

  .cards__item:nth-child(3) {
    margin-right: 0;
  }